body{
    padding: 0;
    margin: 0;
}

.cart{
    padding: 1%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a:link{
    color: black;
    outline: none;
    text-decoration: none;
    font-family: "courier";
    font-size: 1.5rem;
    padding: 5%;
}

.nav a:hover{
    outline: auto;
}

.item1 {
    grid-area: name;
    width: 500px;
}

.item2 {
    grid-area: image;
}

.item3 {
    grid-area: price;
}

.item4 {
    grid-area: qty;
}

.particulars{
    padding: 1%;
    display: grid;
    grid-template-areas: 
    'name image'
    'price qty';
    gap: 10px;
    align-items: center;
    justify-content: center;
}

button{
    background-color: black;
    color: white;
    font-size: larger;
    padding: 1%;
}

button:hover {
    cursor: pointer;
}

li::marker{
    font-size: x-large;
    color: crimson;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: auto;
    height: 20vh;
    font-size: x-large;
}